body {
    background: red;
    margin: 0;
    font-family: Arial;

    /* BACKGROUND IMAGE */
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* DARK OVERLAY */
.container {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    padding: 20px;
    color: white;
}

/* TITLE */
h1 {
    text-align: center;
    color: #facc15;
}

/* FORM */
.form {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/* INPUT */
input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

/* BUTTON */
button {
    padding: 10px;
    background: #22c55e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #16a34a;
}

/* SEARCH */
#search {
    display: block;
    margin: 10px auto;
    width: 50%;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.2);
    margin: 15px auto;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
}

/* STATUS COLORS */
.status-new {
    color: #3b82f6;
}

.status-contacted {
    color: #f97316;
}

.status-converted {
    color: #22c55e;
}